<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">

        <!-- Title -->
        <div class="mt-4 md:mt-24 text-3xl md:text-6xl font-extrabold tracking-tight leading-7 sm:leading-10">
            Scrumboard Boards
        </div>

        <!-- Boards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 md:mt-16">
            <ng-container *ngFor="let board of boards; trackBy: trackByFn">
                <a
                    class="flex flex-col items-start w-56 p-6 rounded-lg shadow bg-card rounded-lg hover:shadow-xl transition-shadow duration-150 ease-in-out"
                    [routerLink]="[board.id]">
                    <div class="flex items-center justify-center p-4 rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary">
                        <mat-icon
                            class="text-current"
                            [svgIcon]="board.icon"></mat-icon>
                    </div>
                    <!-- Title -->
                    <div class="mt-5 text-lg font-medium leading-5">{{board.title}}</div>
                    <!-- Description -->
                    <div class="mt-0.5 line-clamp-2 text-secondary">{{board.description}}</div>
                    <!-- Members -->
                    <ng-container *ngIf="board.members?.length">
                        <div class="w-12 h-1 mt-6 border-t-2"></div>
                        <div class="flex items-center mt-6 -space-x-1.5">
                            <ng-container *ngFor="let member of board.members.slice(0, 5); trackBy: trackByFn">
                                <img
                                    class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                                    [src]="member.avatar"
                                    alt="Member avatar">
                            </ng-container>
                            <ng-container *ngIf="board.members.length > 5">
                                <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent bg-gray-200 text-gray-500">
                                    <div class="text-md font-semibold">
                                        +{{ board.members.slice(5).length }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <!-- Last activity -->
                    <div class="flex items-center mt-4 text-md font-md">
                        <div class="text-secondary">Edited:</div>
                        <div class="ml-1">{{formatDateAsRelative(board.lastActivity)}}</div>
                    </div>
                </a>
            </ng-container>
            <!-- New board -->
            <div (click)="modal_add_tablero(modal_tablero)" class="flex flex-col items-center justify-center w-56 rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out">
                <mat-icon
                    class="icon-size-12 text-hint"
                    [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </div>
        </div>

    </div>

</div>


<ng-template #modal_tablero let-modal >
    <div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-160 -m-6 overflow-y-auto">

        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Agregar Tablero </div>
            <button
                mat-icon-button
                (click)="cerrar_modal()"
                [tabIndex]="-1">
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    
        <!-- Card form -->
        <form
            class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
            [formGroup]="cardForm">
    
            <!-- Title -->
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                <mat-label>Titulo</mat-label>
                <textarea
                    matInput
                    [formControlName]="'title'"
                    [rows]="1"
                    cdkTextareaAutosize
                    [cdkAutosizeMinRows]="1">
                </textarea>
            </mat-form-field>
    
            <!-- Description -->
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                <mat-label>Descripcion</mat-label>
                <textarea
                    matInput
                    [formControlName]="'description'"
                    [rows]="1"
                    cdkTextareaAutosize
                    [cdkAutosizeMinRows]="1">
                </textarea>
            </mat-form-field> 
        </form>
        
        <div class="flex flex-col flex-0 items-end  p-6   sm:flex-row flex-0 sm:items-center sm:justify-between  "> 
            <button mat-raised-button color="danger"  (click)="cerrar_modal()" >Cerrar</button>
            <button mat-raised-button color="primary" (click)="guadar_tablero()"  >Guardar</button>
        </div>
    </div>
    
</ng-template>


